
<!-- <div *ngFor="let forecast of forecastData">
	{{ forecast.temp | number: '1.0-0' }}°F
	{{ forecast.dateString | date: 'E' }}
</div> -->


<ul class="list-group">
	<!-- * NOTE: async pipes-->
	<li *ngFor="let forecast of forecast$ | async " class="weather-item list-group-item">
		<p class="temp">
			{{ forecast.temp | number: '1.0-0' }}°F
		</p>
		<p class="day">
			{{ forecast.dateString | date: 'E' }}
		</p>
	</li>
</ul>


<!-- *NOTE: testing share() operator to preventing observable from being called twice -->
<!-- <ul class="list-group">
	<li *ngFor="let forecast of forecast$ | async " class="weather-item list-group-item">
		<p class="temp">
			{{ forecast.temp | number: '1.0-0' }}°F
		</p>
		<p class="day">
			{{ forecast.dateString | date: 'E' }}
		</p>
	</li>
</ul> -->